name: MSBuild

on:
  push:
    branches: [ "main" ]
    tags: [ "*.*.*" ]
  pull_request:
    branches: [ "main" ]

env:
  SOLUTION_FILE_PATH: SpriteView.sln
  BUILD_CONFIGURATION: Release
  RELEASE_ZIP: spriteview-${{github.ref_name}}-win32.zip

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}

    - name: Compress
      if: github.ref_type == 'tag'
      run: Compress-Archive -Path "README.txt", "Win32\Release\SDL3.dll", "Win32\Release\sv.exe" -DestinationPath "${{env.RELEASE_ZIP}}"

    - name: Release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        files: ${{env.RELEASE_ZIP}}
